@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>Coffee Time!</h2>
    <img class="img-responsive" src="https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg" alt="Chania" />
</div>
