@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Your Cake!</h2>
    <img class="img-responsive" src="https://images.pexels.com/photos/3012214/pexels-photo-3012214.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Chania" />
</div>